<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/plugins/css/plusstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/css/plusstrap-responsive.min.css') }}">

    </head>
    <body>
        {% block menu %}
            <ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('logout') }}" >Выход</a></li>
                {% else %}
                    <li><a href="{{ path('login_route') }}" >Вход</a></li>
                {% endif %}
                <li><a href="{{ path('settings_homepage') }}" >My settings</a></li>
            </ul>
        {% endblock %}

        {% block pageMenu %}{% endblock %}

        <div class="container-fluid" ng-controller="{% block controller_name %}{% endblock %}">
            {% block body %}{% endblock %}
        </div>
        {% block modals %} {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script type="text/javascript" src="{{ asset('assets/plugins/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/plugins/js/mustache.min.js') }}"></script>
        {% endblock %}

        {% block exstra_scripts %}{% endblock %}
    </body>
</html>
