{% extends 'SettingsBundle:Default:index.html.twig' %}

{% block title %}Manage devices{% endblock %}

{% block body %}
    <div id="devices">
        <div class="btn-block">
            <button class="btn btn-primary" id="addDevice" data-action="addDevice">Add new device</button>
        </div>

        <table class="table" id="drvices-table">
        <thead>
            <tr>
                <th>Device</th>
                <th>Operating system</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
                <tr>
                    <td class="deviceName">{{ device.name }}</td>
                    <td class="deviceOs">{{ device.os }}</td>
                    <td>
                        <div class="btn-block">
                            <button class="btn btn-danger" id="addDevice" data-id="{{ device.id }}" data-action="removeDevice">Remove</button>
                            <button class="btn btn-warning" id="editDevice" data-id="{{ device.id }}" data-action="edit">Edit</button>
                            <button class="btn btn-primary"  data-id="{{ device.id }}">Action1</button>
                            <button class="btn btn-primary"  data-id="{{ device.id }}">Action2</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

{% block modals %}
    {% verbatim %}
        <script type="x-tmpl-mustache" id="deviceDialog">
            <div class="modal" id="devicemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" {#aria-hidden="true"#}>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">?</button>
                    <h3 id="myModalLabel">{{ header }}</h3>
                </div>
                <div class="modal-body">
                    <input type='text' name='name' value='{{name}}' class="input-medium" placeholder="Name">
                    <input type='text' name='os'  value='{{os}}' class="input-medium" placeholder="Operating system">
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary" id='ok-button'>Save</button>
                </div>
            </div>
        </script>
        <script type="x-tmpl-mustache" id="deviceRow">
            <tr>
                <td class="deviceName">{{name}}</td>
                <td class="deviceOs">{{os}}</td>
                <td>
                    <div class="btn-block">
                        <button class="btn btn-danger" id="addDevice" data-id="{{ id }}" data-action="removeDevice">Remove</button>
                        <button class="btn btn-warning" id="editDevice" data-id="{{ id }}" data-action="edit">Edit</button>
                        <button class="btn btn-primary" id="addDevice" data-id="{{ id }}">Action1</button>
                        <button class="btn btn-primary" id="addDevice" data-id="{{ id }}">Action2</button>
                    </div>
                </td>
            </tr>
        </script>
        <script type="x-tmpl-mustache" id="deviceDelete">
            <div class="modal" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" {#aria-hidden="true"#}>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">?</button>
                    <h3 id="myModalLabel">Deleting {{ name } }}</h3>
                </div>
                <div class="modal-body">
                    Are you shure with delleting {{ name  }}
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-danger" id='ok-button'>Delete</button>
                </div>
            </div>
        </script>
    {% endverbatim %}
{% endblock %}

{% block exstra_scripts %}
    <script type="text/javascript" src="{{ asset('assets/js/device.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/widgets/DeviceWidget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/widgets/helpers/DialogHelper.js') }}"></script>
{% endblock %}