{% extends 'base.html.twig' %}

{% block body %}
    <div id="users">
    <div class="options">
        <button class="btn btn-primary" data-action="addUser">New user</button>
    </div>

    <table class="table" id="users-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td class="userName">{{ user.name }}</td>
                    <td class="userRoles">
                        {% for role in user.roles %}
                            {{ role }}&nbsp;
                        {% endfor %}
                    </td>
                    <td class="userButtons">
                        <button class="btn btn-warning btn-small" data-action="edit" data-id="{{ user.id }}">edit</button>
                        <button class="btn btn-danger btn-small" data-action="remove" data-id="{{ user.id }}">remove</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modals %}
    {% verbatim %}
        <script type="x-tmpl-mustache" id="userDialog">
            <div class="modal" id="usermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" {#aria-hidden="true"#}>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">{{ header }}</h3>
                </div>
                <div class="modal-body">
                    <input type='text' name='name'/ value='{{ name }}' class="input-medium" placeholder="Name">
                    <input type='text' name='password'/ class="input-medium" placeholder="Password">
                    <select name='role' class="input-medium">
                        {{#roles}}
                            <option value='{{ value }}'>{{ name }}</option>
                        {{/roles}}
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary" id='ok-button'>Save</button>
                </div>
            </div>
        </script>
        <script type="x-tmpl-mustache" id="userRow">
            <tr>
                    <td>{{name}}</td>
                    <td>
                        {{ #roles }}
                            {{.}}&nbsp;
                        {{ /roles }}
                    </td>
                    <td>
                        <button class="btn btn-warning btn-small" data-action="edit" data-id="{{ id }}">edit</button>
                        <button class="btn btn-danger btn-small" data-action="remove" data-id="{{ id }}">remove</button>
                    </td>
                </tr>
        </script>
        <script type="x-tmpl-mustache" id="userDelete">
            <div class="modal" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" {#aria-hidden="true"#}>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Deleting {{ name } }}</h3>
                </div>
                <div class="modal-body">
                    Are you shure with delleting {{ name  }}
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-danger" id='ok-button'>Delete</button>
                </div>
            </div>
        </script>
    {% endverbatim %}
{% endblock %}

{% block exstra_scripts %}
    <script type="text/javascript" src="{{ asset('assets/js/user.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/widgets/UserWidget.js') }}"></script>
{% endblock %}