{% extends 'base.html.twig' %}

{% block pageMenu %}
    <nav>
        <ul class="nav nav-pills">
            <li class="active">
                <a href="{{ url('devices') }}">My devices</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    default settings page
{% endblock %}